.about-me {
  width: 30vw;
  text-align: justify;
  margin: auto;
}

.about-me img {
  background: none !important;
  border: none !important;
  width: 30vw;
}

.skill-list {
  color: white;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  font-size: 3.5em;
  padding: 0 0 0 0;
  margin-top: .5em;
  margin-bottom: .5em;
}

.skill-list li {
  float: left;
  padding: 0 .25em .25em .25em;
}

.image img#project-image {
  padding: 2em;
  height: 50vh;
  width: 50vh;
  float: right;
}

h2#projects {
  margin-bottom: 0em;
}

header#projects {
  margin-bottom: 0em;
}

section#projects {
  /*padding-top: 4em;
  margin-bottom: 0em;*/
  padding-bottom: 1em;
  text-align: center;
	background-color: rgba(0, 0, 0, 0.15);
}

.left-align {
  text-align: left;
}

.my-style {
  background: rgba(0, 0, 0, 0.15);
}
